@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center mx-2 h-12 w-12 rounded-full transition-all duration-300 ease-linear;
  }
  .sidebar-hover {
    @apply hover:bg-selected hover:shadow-sm hover:cursor-pointer;
  }
  .sidebar-msg {
    @apply absolute w-auto p-2 m-2 min-w-max left-10 rounded-xl text-white bg-selected bottom-3 text-xs font-bold transition-all duration-300 scale-0;
  }
  .card-hover {
    @apply hover:shadow-lg cursor-pointer transition-all ease-linear;
  }
  .grid-cards {
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    gap: 32px;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scroll-hover-left {
    box-shadow: inset 20px 0 20px -7px #00e5bd;
  }
  .scroll-hover-right {
    box-shadow: inset -20px 0 20px -7px #00e5bd;
  }
  img {
    -moz-user-select: none;
  }
  .container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 50px 50px 0;
  }

  .container.active .toggle {
    transform: translateX(50%);
  }

  .container.active .toggle-left {
    transform: translateX(0);
  }

  .container.active .toggle-right {
    transform: translateX(200%);
  }
  .container.active .sign-in {
    transform: translateX(100%);
    width: 100px;
  }

  .container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 10;
    animation: move 0.6s;
  }

  @keyframes move {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }
    50%,
    100% {
      z-index: 5;
    }
  }
}
html {
  height: 100vh;
  background-color: white;
}
#login-form {
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
